.primary-color {
  color: #df3036; }

nav.navbar {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  -webkit-transition: background-color 0.5s;
  /* Safari */
  transition: background-color 0.5s; }
  nav.navbar .navbar-nav a,
  nav.navbar .navbar-toggler-icon {
    color: white;
    -webkit-transition: color 0.5s;
    /* Safari */
    transition: color 0.5s;
    font-weight: 400; }

.nav-scrolled {
  background-color: white !important;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3); }

.mobile-logo {
  display: none; }

.nav-scrolled .navbar-nav a {
  color: #df3036 !important; }

nav img.mobile-logo {
  height: 40px; }

@media (max-width: 992px) {
  nav.navbar {
    background-color: white;
    color: #df3036; }
    nav.navbar .navbar-nav a,
    nav.navbar .navbar-toggler-icon {
      color: #df3036; }
  .mobile-logo {
    display: initial; }
  .mobile-hidden {
    display: none !important; } }

nav img.logo {
  height: 40px; }

nav img.red {
  display: none; }

nav .navbar-toggler-icon i {
  position: relative;
  top: 3px; }

nav .navbar-nav .nav-item .active {
  font-weight: bold; }

nav.nav-scrolled .navbar-toggler-icon i {
  color: #df3036;
  position: relative;
  top: 3px; }

.text-centered {
  text-align: center; }

#footer {
  background-color: #262a28;
  color: #c6c6c6;
  padding: 0.25em 0;
  margin-top: -1px;
  margin-bottom: -2px; }
  #footer h2 {
    color: white; }
  #footer img {
    width: 130px; }
  #footer a {
    color: white;
    padding: 1em; }
  #footer .text-row {
    padding-top: 2em;
    padding-bottom: 2em; }
  #footer .spaced-top {
    margin-top: 20px; }
  #footer .copyright {
    background-color: #141615;
    position: relative;
    top: 4px;
    padding-bottom: 4px; }
  #footer #facebook-share {
    background-color: #3b5998;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px 14px;
    margin-right: 5px; }
  #footer #twitter-share {
    background-color: #38A1F3;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 5px; }

nav button.navbar-toggler {
  position: relative;
  left: calc(100vw - 60px); }

.mobile-logo {
  position: fixed;
  top: 2px; }

/******** COMMON STYLES & MEDIA QUERIES ****/
html,
body {
  font-size: 12px !important; }

h1 {
  font-size: 1.75em; }

h2 {
  font-size: 1.424em; }

h3 {
  font-size: 1.266em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 0.889em; }

h6 {
  font-size: 0.79em; }

.display-1 {
  font-size: 3.906em; }

.display-2 {
  font-size: 3.125em; }

.display-3 {
  font-size: 2.5em; }

.display-4 {
  font-size: 2em; }

@media (min-width: 48em) {
  h1 {
    font-size: 2.5em; }
  h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.2em; }
  h4 {
    font-size: 1em; }
  .display-1 {
    font-size: 6em; }
  .display-2 {
    font-size: 5.5em; }
  .display-3 {
    font-size: 4.5em; }
  .display-4 {
    font-size: 3.5em; } }

@media (min-width: 62em) {
  html,
  body {
    font-size: 13px !important; } }

@media (min-width: 75em) {
  html,
  body {
    font-size: 14px !important; } }

.jumbotron {
  background-color: #df3036;
  border-radius: 0;
  padding-top: 7em;
  padding-bottom: 7em;
  color: white;
  /* The image used */
  background-image: url("../assets/main-jumbo.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .jumbotron .button-container {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 2.5em; }
    .jumbotron .button-container button {
      font-size: 1.2em;
      font-weight: 500;
      padding: 0.755em 1.5em; }

.container-title {
  color: #df3036;
  font-weight: bold;
  margin-bottom: 2em; }

.about-us {
  text-align: center;
  margin: 2em 0; }
  .about-us .image {
    border-radius: 50%;
    height: 150px; }
  .about-us .name {
    color: #df3036;
    margin-top: 1em; }
  .about-us .title {
    font-weight: 500; }
  .about-us .social {
    font-size: 2em; }
    .about-us .social .fa {
      padding: 0 5px; }
    .about-us .social .fa-linkedin-square {
      color: #0077b5; }
    .about-us .social .fa-globe {
      color: gray; }

p {
  font-size: 1.1em; }

ul li {
  font-size: 1.1em; }

@media (max-width: 768px) {
  .about-us .image {
    margin-top: 2em; } }
