.primary-color {
  color: #df3036; }

nav.navbar {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  -webkit-transition: background-color 0.5s;
  /* Safari */
  transition: background-color 0.5s; }
  nav.navbar .navbar-nav a,
  nav.navbar .navbar-toggler-icon {
    color: white;
    -webkit-transition: color 0.5s;
    /* Safari */
    transition: color 0.5s;
    font-weight: 400; }

.nav-scrolled {
  background-color: white !important;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3); }

.mobile-logo {
  display: none; }

.nav-scrolled .navbar-nav a {
  color: #df3036 !important; }

nav img.mobile-logo {
  height: 40px; }

@media (max-width: 992px) {
  nav.navbar {
    background-color: white;
    color: #df3036; }
    nav.navbar .navbar-nav a,
    nav.navbar .navbar-toggler-icon {
      color: #df3036; }
  .mobile-logo {
    display: initial; }
  .mobile-hidden {
    display: none !important; } }

nav img.logo {
  height: 40px; }

nav img.red {
  display: none; }

nav .navbar-toggler-icon i {
  position: relative;
  top: 3px; }

nav .navbar-nav .nav-item .active {
  font-weight: bold; }

nav.nav-scrolled .navbar-toggler-icon i {
  color: #df3036;
  position: relative;
  top: 3px; }

.text-centered {
  text-align: center; }

#footer {
  background-color: #262a28;
  color: #c6c6c6;
  padding: 0.25em 0;
  margin-top: -1px;
  margin-bottom: -2px; }
  #footer h2 {
    color: white; }
  #footer img {
    width: 130px; }
  #footer a {
    color: white;
    padding: 1em; }
  #footer .text-row {
    padding-top: 2em;
    padding-bottom: 2em; }
  #footer .spaced-top {
    margin-top: 20px; }
  #footer .copyright {
    background-color: #141615;
    position: relative;
    top: 4px;
    padding-bottom: 4px; }
  #footer #facebook-share {
    background-color: #3b5998;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px 14px;
    margin-right: 5px; }
  #footer #twitter-share {
    background-color: #38A1F3;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 5px; }

nav button.navbar-toggler {
  position: relative;
  left: calc(100vw - 60px); }

.mobile-logo {
  position: fixed;
  top: 2px; }

@media (max-width: 767px) {
  .text-center-mobile {
    text-align: center; } }

/******** COMMON STYLES & MEDIA QUERIES ****/
html,
body {
  font-size: 12px !important; }

h1 {
  font-size: 1.75em; }

h2 {
  font-size: 1.424em; }

h3 {
  font-size: 1.266em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 0.889em; }

h6 {
  font-size: 0.79em; }

.display-1 {
  font-size: 3.906em; }

.display-2 {
  font-size: 3.125em; }

.display-3 {
  font-size: 2.5em; }

.display-4 {
  font-size: 2em; }

@media (min-width: 48em) {
  h1 {
    font-size: 2.5em; }
  h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.2em; }
  h4 {
    font-size: 1em; }
  .display-1 {
    font-size: 6em; }
  .display-2 {
    font-size: 5.5em; }
  .display-3 {
    font-size: 4.5em; }
  .display-4 {
    font-size: 3.5em; } }

@media (min-width: 62em) {
  html,
  body {
    font-size: 13px !important; } }

@media (min-width: 75em) {
  html,
  body {
    font-size: 14px !important; } }

body {
  background-color: white !important;
  color: black; }

.vertical-center {
  align-items: center; }

.mobile-only {
  display: none; }

@media (max-width: 767px) {
  .mobile-only {
    display: initial; }
  .desktop-only {
    display: none; }
  .text-center-mobile {
    text-align: center; } }

.jumbotron {
  background-color: #df3036;
  border-radius: 0;
  padding-top: 10em;
  padding-bottom: 10em;
  color: white;
  /* The image used */
  background-image: url("../assets/main-jumbo.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .jumbotron .button-container {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 4em; }
    .jumbotron .button-container a {
      font-size: 1.2em;
      font-weight: 500;
      padding: 0.755em 6em; }

.values .card .card-title,
.values .card p {
  text-align: center; }

.values {
  position: relative;
  bottom: 7em;
  margin-bottom: -2em; }

.values .card {
  background-color: rgba(0, 0, 0, 0);
  border: 0; }
  .values .card .card-body {
    height: 125px; }

.features .image img {
  max-height: 500px;
  max-width: 100%; }

.features .image {
  text-align: center; }

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px; }

.center-content {
  text-align: justify; }
  .center-content .title {
    text-align: center; }

.icon {
  text-align: center;
  margin-top: 2.5em; }
  .icon i {
    color: #df3036;
    font-size: 3em; }
  .icon p {
    margin-top: 1em; }

.colored .icon i {
  color: white; }

.list {
  display: flex; }
  .list i {
    padding: 0 1em;
    position: relative;
    top: 5px; }

.top-content {
  padding-bottom: 5em;
  text-align: justify; }

.content:not(.laptop) {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: justify; }
  .content:not(.laptop) .image {
    padding: 0 4em; }

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: justify; }
  .content .image {
    padding: 0 4em; }

.content.colored,
.center-content.colored {
  background-color: #df3036;
  color: white; }
  .content.colored .title,
  .center-content.colored .title {
    color: white; }
  .content.colored .list i,
  .center-content.colored .list i {
    color: white; }

.candidates img {
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5); }

.candidates .image-container {
  text-align: center; }

.candidates {
  padding-bottom: 4em; }

.carousel .carousel-inner h6 {
  color: white; }

.modal .modal-content {
  background-color: white; }

.modal .modal-dialog,
.modal .modal-content {
  width: 700px;
  max-width: calc(100vw - 15px); }

.modal .modal-body {
  padding-left: 0;
  padding-right: 0; }

#survey iframe {
  max-height: calc(100vh - 85px);
  height: 1000px;
  width: 100%; }

@media (max-width: 576px) {
  .image-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em; } }

.carousel-item .row {
  display: flex;
  align-items: center;
  flex-wrap: initial; }
  .carousel-item .row .left .testimonial-image {
    width: 150px;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 1em; }
  .carousel-item .row .left .name {
    padding-left: 20px; }
  .carousel-item .row .left .title {
    padding-left: 20px;
    font-weight: 300; }
  .carousel-item .row .right {
    padding: 0 2em; }
    .carousel-item .row .right p {
      font-size: 1.5em; }
    .carousel-item .row .right .fa {
      font-size: 50px; }

.carousel-container {
  height: 500px; }

.testimonial-container {
  margin-bottom: 0; }
  .testimonial-container .carousel-inner {
    height: 265px; }

.content:not(.colored) .feature-card {
  box-shadow: 2px 3px 4px #8b8b8b;
  padding: 1em;
  border: 1px solid #cfcece; }
  .content:not(.colored) .feature-card .title {
    color: #df3036;
    font-weight: 500; }

.content.colored .feature-card {
  box-shadow: 2px 3px 4px #9b282c;
  padding: 1em;
  border: 1px solid #b2262b;
  background-color: #b2262b; }
  .content.colored .feature-card .title {
    font-weight: 500; }

.testimonial-text {
  height: 150px;
  padding: 0 1em; }
  .testimonial-text .start {
    align-self: flex-start; }
  .testimonial-text .center {
    align-self: center; }
  .testimonial-text .end {
    align-self: flex-end; }

@media (max-width: 800px) {
  .carousel-item .row {
    display: initial;
    align-items: center;
    flex-wrap: initial; }
    .carousel-item .row .left .testimonial-image {
      width: 80%;
      max-width: 250px;
      border-radius: 50%;
      margin-left: 0;
      margin-bottom: 1em; }
    .carousel-item .row .left .name {
      padding-left: 20px;
      font-size: 1.5em; }
    .carousel-item .row .left .title {
      padding-left: 20px;
      font-weight: 300; }
    .carousel-item .row .right {
      padding: 0 2em; }
  .testimonial-text .start {
    text-align: center; }
  .testimonial-text .center {
    align-self: center; }
  .testimonial-text .end {
    text-align: center;
    padding-top: 20px; }
    .testimonial-text .end img {
      transform: rotate(180deg); } }

.embed-container {
  border: 15px solid #2f2f2f;
  margin-top: 20px;
  border-radius: 10px; }
  .embed-container .embed {
    background-color: gray; }
    .embed-container .embed iframe {
      margin-top: 10px; }
  .embed-container .red-circle {
    height: 10px;
    width: 10px;
    z-index: 100;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 5px;
    left: 10px;
    background-color: #fb5a52; }
  .embed-container .yellow-circle {
    height: 10px;
    width: 10px;
    z-index: 100;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 5px;
    left: 15px;
    background-color: #ffba2b; }
  .embed-container .green-circle {
    height: 10px;
    width: 10px;
    z-index: 100;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 5px;
    left: 20px;
    background-color: #28c941; }

@media (max-width: 768px) {
  .values {
    position: relative;
    bottom: 0;
    margin-bottom: 2em; }
    .values .card {
      margin-bottom: 2em; }
      .values .card .card-body {
        height: 100px; }
  .features .image img {
    max-height: 600px;
    max-width: 100%; }
  .image.order-md-1, .image {
    margin: 0;
    padding: 0 !important; } }

@media (max-width: 801px) {
  .carousel-spacer {
    padding: 0 !important; } }

@media (max-width: 801px) {
  .testimonial-container .carousel-inner {
    height: 670px; } }

@media (max-width: 400px) {
  .testimonial-container .carousel-inner {
    height: 730px; }
  .carousel-item .row .right p {
    font-size: 1.4em; } }

.testimonial-text .end img {
  transform: rotate(180deg); }
