.primary-color {
  color: #df3036; }

nav.navbar {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  -webkit-transition: background-color 0.5s;
  /* Safari */
  transition: background-color 0.5s; }
  nav.navbar .navbar-nav a,
  nav.navbar .navbar-toggler-icon {
    color: white;
    -webkit-transition: color 0.5s;
    /* Safari */
    transition: color 0.5s; }

.nav-scrolled {
  background-color: white !important;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3); }

.mobile-logo {
  display: none; }

.nav-scrolled .navbar-nav a {
  color: #df3036 !important; }

nav img.mobile-logo {
  height: 40px; }

@media (max-width: 992px) {
  nav.navbar {
    background-color: white;
    color: #df3036; }
    nav.navbar .navbar-nav a,
    nav.navbar .navbar-toggler-icon {
      color: #df3036; }
  .mobile-logo {
    display: initial; }
  .mobile-hidden {
    display: none !important; } }

nav img.logo {
  height: 40px; }

nav img.red {
  display: none; }

nav .navbar-toggler-icon i {
  position: relative;
  top: 3px; }

nav.nav-scrolled .navbar-toggler-icon i {
  color: #df3036;
  position: relative;
  top: 3px; }

/******** COMMON STYLES & MEDIA QUERIES ****/
html,
body {
  font-size: 14px !important; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.424em; }

h3 {
  font-size: 1.266em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 0.889em; }

h6 {
  font-size: 0.79em; }

.display-1 {
  font-size: 3.906em; }

.display-2 {
  font-size: 3.125em; }

.display-3 {
  font-size: 2.5em; }

.display-4 {
  font-size: 2em; }

@media (min-width: 48em) {
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.2em; }
  h4 {
    font-size: 1em; }
  .display-1 {
    font-size: 6em; }
  .display-2 {
    font-size: 5.5em; }
  .display-3 {
    font-size: 4.5em; }
  .display-4 {
    font-size: 3.5em; } }

@media (min-width: 62em) {
  html,
  body {
    font-size: 16px !important; } }

@media (min-width: 75em) {
  html,
  body {
    font-size: 18px !important; } }

.jumbotron {
  background-color: #df3036;
  border-radius: 0;
  padding-top: 10em;
  padding-bottom: 10em;
  color: white;
  /* The image used */
  background-image: url("../assets/main-jumbo.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.values .card .card-title,
.values .card p {
  text-align: center; }

.values {
  position: relative;
  bottom: 7em;
  margin-bottom: -2em; }

.values .card {
  background-color: rgba(0, 0, 0, 0);
  border: 0; }
  .values .card .card-body {
    height: 125px; }

@media (max-width: 768px) {
  .values {
    position: relative;
    bottom: 0;
    margin-bottom: 2em; }
    .values .card {
      margin-bottom: 2em; }
      .values .card .card-body {
        height: 100px; } }

.center-content {
  text-align: justify; }
  .center-content .title {
    text-align: center; }

.icon {
  text-align: center;
  margin-top: 2.5em; }
  .icon i {
    color: #df3036;
    font-size: 2em; }
  .icon p {
    margin-top: 1em; }

.list {
  display: flex; }
  .list i {
    padding: 0 1em;
    position: relative;
    top: 5px; }

.top-content {
  padding-bottom: 5em; }

.content {
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: justify; }

.content.colored {
  background-color: #df3036;
  color: white; }
  .content.colored .title {
    color: white; }
  .content.colored .list i {
    color: white; }

.candidates img {
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5); }

.candidates .image-container {
  text-align: center; }

.candidates {
  padding-bottom: 4em; }
