$main-color: #df3036;

.primary-color {
    color: #df3036;
}

nav.navbar {
    background-color: rgba(0, 0, 0, 0);
    
    color: white;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s;
    .navbar-nav a,
    .navbar-toggler-icon {
        color: white;
        -webkit-transition: color 0.5s;
        /* Safari */
        transition: color 0.5s;
    }
}

.nav-scrolled {
    background-color: white !important;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
   
}

.mobile-logo {
    display: none;
}

.nav-scrolled .navbar-nav a {
    color: $main-color !important;
}

nav img.mobile-logo {
    height: 40px;
}

@media (max-width: 992px) {

    nav.navbar {
        background-color: white;
        color: $main-color;
        .navbar-nav a,
        .navbar-toggler-icon {
            color:  $main-color;
        }
    }
    .mobile-logo {
        display: initial;
    }

    .mobile-hidden {
        display: none !important;
    }
}

nav img.logo {
    height: 40px;
}

nav img.red {
    display: none;
}

nav .navbar-toggler-icon i {
    position:relative;
    top: 3px;
}

nav.nav-scrolled .navbar-toggler-icon i {
    color: $main-color;
    position:relative;
    top: 3px;
}


/******** COMMON STYLES & MEDIA QUERIES ****/

html,
body {
    font-size: 14px !important;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.424em;
}

h3 {
    font-size: 1.266em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 0.889em;
}

h6 {
    font-size: 0.79em;
}

.display-1 {
    font-size: 3.906em;
}

.display-2 {
    font-size: 3.125em;
}

.display-3 {
    font-size: 2.5em;
}

.display-4 {
    font-size: 2em;
}

@media (min-width: 48em) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    .display-1 {
        font-size: 6em;
    }

    .display-2 {
        font-size: 5.5em;
    }

    .display-3 {
        font-size: 4.5em;
    }

    .display-4 {
        font-size: 3.5em;
    }
}

@media (min-width: 62em) {

    html,
    body {
        font-size: 16px !important;
    }
}

@media (min-width: 75em) {

    html,
    body {
        font-size: 18px !important;
    }
}