$main-color: #df3036;

body {
   font-family: 'Raleway', sans-serif;
}

.primary-color {
    color: #df3036;
}

nav.navbar {
    background-color: rgba(0, 0, 0, 0);

    color: white;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s;

    .navbar-nav a,
    .navbar-toggler-icon {
        color: white;
        -webkit-transition: color 0.5s;
        /* Safari */
        transition: color 0.5s;
        font-weight: 400;
    }
}

.nav-scrolled {
    background-color: white !important;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);

}

.mobile-logo {
    display: none;
}

.nav-scrolled .navbar-nav a {
    color: $main-color !important;
}

nav img.mobile-logo {
    height: 40px;
}

@media (max-width: 992px) {

    nav.navbar {
        background-color: white;
        color: $main-color;

        .navbar-nav a,
        .navbar-toggler-icon {
            color: $main-color;
        }
    }

    .mobile-logo {
        display: initial;
    }

    .mobile-hidden {
        display: none !important;
    }
}

nav img.logo {
    height: 40px;
}

nav img.red {
    display: none;
}

nav .navbar-toggler-icon i {
    position: relative;
    top: 3px;
}

nav .navbar-nav .nav-item .active {
    font-weight: bold;
}

nav.nav-scrolled .navbar-toggler-icon i {
    color: $main-color;
    position: relative;
    top: 3px;
}

.text-centered {
    text-align: center;
}


#footer {
    //background-color: #9e0309;
    // background-color: #0c0b0b;
    background-color: #262a28;
    color: #c6c6c6;
    padding: 0.25em 0;
    margin-top: -1px;
    margin-bottom: -2px;

    h2 {
        color: white;
    }

    img {
        width: 130px;
    }

    a {
        color: white;
        padding: 1em;
    }

    .text-row {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .spaced-top {
        margin-top: 20px;
    }

    .copyright {
        background-color: #141615;
        position: relative;
        top: 4px;
        padding-bottom: 4px;
    }

    #facebook-share {
        background-color: #3b5998;
        border-radius: 50%;
        font-size: 20px;
        padding: 5px 14px;
        margin-right: 5px;
    }

    #twitter-share {
        background-color: #38A1F3;
        border-radius: 50%;
        font-size: 20px;
        padding: 5px 10px;
        margin-left: 5px;

    }

}

nav button.navbar-toggler {
    position: relative;
    left: calc(100vw - 60px);
}

.mobile-logo {
    position: fixed;
    top: 2px;
}


@media (max-width: 767px) {
    .text-center-mobile {
        text-align: center;
    }

     // Adding vertical space to each footer section (ex. mailing list, social icons)
    // only on mobile view, that way desktop view has them horizontal with no
    // space on top, but mobile spaces them out vertically a bit
    .vba-footer-section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}




/******** COMMON STYLES & MEDIA QUERIES ****/

html,
body {
    font-size: 12px !important;
}

h1 {
    font-size: 1.75em;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
}

h2 {
    font-size: 1.424em;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
}

h3 {
    font-size: 1.266em;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 0.889em;
}

h6 {
    font-size: 0.79em;
}

.display-1 {
    font-size: 3.906em;
}

.display-2 {
    font-size: 3.125em;
}

.display-3 {
    font-size: 2.5em;
}

.display-4 {
    font-size: 2em;
}

@media (min-width: 48em) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    .display-1 {
        font-size: 6em;
    }

    .display-2 {
        font-size: 5.5em;
    }

    .display-3 {
        font-size: 4.5em;
    }

    .display-4 {
        font-size: 3.5em;
    }
}

@media (min-width: 62em) {

    html,
    body {
        font-size: 13px !important;
    }
}

@media (min-width: 75em) {

    html,
    body {
        font-size: 14px !important;
    }
}