@import './common.scss';

body {
  background-color: white !important;
  color: black;
}

.vertical-center {
  align-items: center;
}

.jumbotron {
  background-color: $main-color;
  border-radius: 0;
  padding-top: 10em;
  padding-bottom: 10em;
  color: white;

  /* The image used */
  background-image: url('../assets/main-jumbo.png');

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .button-container {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 2.5em;

    button {
      font-size: 1.2em;
      font-weight: 500;
      padding: 0.755em 1.5em;
    }
  }
}

.values .card .card-title,
.values .card p {
  text-align: center;
}

.values {
  position: relative;
  bottom: 7em;
  margin-bottom: -2em;
}

.values .card {
  background-color: rgba(0, 0, 0, 0);
  border: 0;

  .card-body {
    height: 125px;
  }
}

@media (max-width: 768px) {
  .values {
    position: relative;
    bottom: 0;
    margin-bottom: 2em;

    .card {
      margin-bottom: 2em;

      .card-body {
        height: 100px;
      }
    }
  }
}

.center-content {
  .title {
    text-align: center;
  }

  text-align: justify;
}

.icon {
  text-align: center;
  margin-top: 2.5em;

  i {
    color: $main-color;
    font-size: 3em;
  }

  p {
    margin-top: 1em;
  }
}

.colored {
  .icon i {
    color: white;
  }
}

.list {
  display: flex;

  i {
    padding: 0 1em;
    position: relative;
    top: 5px;
  }
}

.top-content {
  padding-bottom: 5em;
  text-align: justify;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: justify;
  .image {
    padding: 0 4em;
  }
}

.content.colored,
.center-content.colored {
  background-color: $main-color;
  color: white;

  .title {
    color: white;
  }

  .list i {
    color: white;
  }
}

.candidates img {
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

.candidates .image-container {
  text-align: center;
}

.candidates {
  padding-bottom: 4em;
}

.carousel .carousel-inner h6 {
  color: white;
}

.modal .modal-content {
  background-color: white;
}

.modal {
  .modal-dialog,
  .modal-content {
    width: 700px;
    max-width: calc(100vw - 15px);
  }
  .modal-body {
    padding-left: 0;
    padding-right: 0;
  }
}

#survey iframe {
  max-height: calc(100vh - 85px);
  height: 1000px;
  width: 100%;
}

@media (max-width: 576px) {
  .image-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.carousel-item .row {
  display: flex;
  align-items: center;
  flex-wrap: initial;
  .left {
    .testimonial-image {
      width: 150px;
      border-radius: 50%;
      margin-left: 20px;
      margin-bottom: 1em
    }
    .name {
      padding-left: 20px;
    }
    .title {
      padding-left: 20px;
      font-weight: 300;
    }
  }

  .right {
    padding: 0 2em; 
  }
}

.testimonial-container {
  margin-bottom: 0;
}




.testimonial-text {
  height: 150px;
  padding: 0 1em;
  .start {
    align-self: flex-start;
  }
  .center {
    align-self : center;
  }
  .end {
    align-self: flex-end;
  }
}


@media (max-width: 800px){
  .carousel-item .row {
    display: initial;
    align-items: center;
    flex-wrap: initial;
    .left {
      .testimonial-image {
        width: 150px;
        border-radius: 50%;
        margin-left: 20px;
        margin-bottom: 1em
      }
      .name {
        padding-left: 20px;
      }
      .title {
        padding-left: 20px;
        font-weight: 300;
      }
    }
  
    .right {

      padding: 0 2em; 
    }
  }
  
  
  
  
  .testimonial-text {
    .start {
      text-align: left;
    }
    .center {
      align-self : center;
    }
    .end {
      text-align: right;
    }
  }
  
}


.embed-container {
  border: 15px solid #2f2f2f;
  margin-top: 20px;
  border-radius: 10px;
  .embed {
    background-color: gray;
    iframe {
      margin-top: 10px;
    }
  }
  .red-circle {
    height: 10px;
    width: 10px;
    z-index: 100;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 5px;
    left: 10px;
    background-color: #fb5a52;
  }

  .yellow-circle {
    height: 10px;
    width: 10px;
    z-index: 100;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 5px;
    left: 15px;
    background-color: #ffba2b;
  }

  .green-circle {
    height: 10px;
    width: 10px;
    z-index: 100;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 5px;
    left: 20px;
    background-color: #28c941;
  }

}