@import './common.scss';

body {
  background-color: white !important;
  color: black;
}

.vertical-center {
  align-items: center;
}

.mobile-only {
  display: none;
}



@media (max-width: 767px) {

  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }

  .text-center-mobile {
    text-align: center;
  }
}

.jumbotron {
  background-color: $main-color;
  border-radius: 0;
  padding-top: 10em;
  padding-bottom: 10em;
  color: white;

  /* The image used */
  background-image: url('../assets/main-jumbo.jpg');

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .button-container {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 4em;

    a {
      font-size: 1.2em;
      font-weight: 500;
      padding: 0.755em 2em;
    }
  }
}

.values .card .card-title,
.values .card p {
  text-align: center;
}

.values {
  position: relative;
  bottom: 7em;
  margin-bottom: -2em;
}

.values .card {
  background-color: rgba(0, 0, 0, 0);
  border: 0;

  .card-body {
    height: 125px;
  }
}

.why-join {
  max-width: 850px;
  .icon-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
  }
  .icon-container {
    max-width: 125px;
    text-align: center;
    width: 100px;
    float:left;

    img {
      width: 100%;
    }
  }
  .text-container {
    padding-top: 20px;
    p {
      margin-bottom: 0;
    }
  }

  p.percent {
    // Using px instead of rem because need to match h2 size
    font-size: 21px;
  }

  // Adding some margin-top to either the icon or the percent text
  // so that each lines up properly. This would change if the text
  // or icons change size in the future.
  .why-join-1 {
    img {
      margin-top: 1.2rem;
    }
  }

  .why-join-2 {
    img {
      margin-top: 0.3rem;
    }
  }

  .why-join-3 {
    img {
      // margin-top: 0.1rem;
    }
  }

  .why-join-4 {
    img {
      margin-top: 0.3rem;
    }
  }

  // No shift needed for why-join-5

  p.data-collected, p.can-do-better {
    margin-top: 1rem;
  }

  p.can-do-better {
    // Using px instead of rem because need to match h2 size
    font-size: 21px;
    font-weight: bold;
  }
}

.video-content {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $main-color;
  color: white;
}

@media (max-width: 600px) {
  .why-join {
    .icon-row {
      .icon-container {
        max-width: 100%;
        width: 100%;
        text-align: center;
        img {
          max-width: 150px;
          width: 100%;
        }
      }
    }
  }
}

.video-container {
  max-width: 600px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.features .image img {
  max-height: 500px;
  max-width: 100%;
}

.features .image {
  text-align: center;
}



.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
}

.center-content {
  .title {
    text-align: center;
  }

  text-align: justify;
}

.icon {
  text-align: center;
  margin-top: 2.5em;

  i {
    color: $main-color;
    font-size: 3em;
  }

  p {
    margin-top: 1em;
  }
}

.colored {
  .icon i {
    color: white;
  }
}

.list {
  display: flex;

  i {
    padding: 0 1em;
    position: relative;
    top: 5px;
  }
}

.top-content {
  padding-bottom: 2em;
  text-align: justify;
}

.content:not(.laptop) {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: justify;

  .image {
    padding: 0 4em;
  }
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: justify;

  .image {
    padding: 0 4em;
  }
}

.content.colored,
.center-content.colored {
  background-color: $main-color;
  color: white;

  .title {
    color: white;
  }

  .list i {
    color: white;
  }
}

.candidates img {
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

.candidates .image-container {
  text-align: center;
}

.candidates {
  padding-bottom: 4em;
}

.carousel .carousel-inner h6 {
  color: white;
}

.modal .modal-content {
  background-color: white;
}

.modal {

  .modal-dialog,
  .modal-content {
    width: 700px;
    max-width: calc(100vw - 15px);
  }

  .modal-body {
    padding-left: 0;
    padding-right: 0;
  }
}

#survey iframe {
  max-height: calc(100vh - 85px);
  height: 1000px;
  width: 100%;
}

@media (max-width: 576px) {
  .image-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.carousel-item .row {
  display: flex;
  align-items: center;
  flex-wrap: initial;

  .left {
    .testimonial-image {
      width: 150px;
      border-radius: 50%;
      margin-left: 20px;
      margin-bottom: 1em;
    }

    .name {
      padding-left: 20px;
    }

    .title {
      padding-left: 20px;
      font-weight: 300;
    }
  }

  .right {
    padding: 0 2em;

    p {
      font-size: 1.5em;
    }

    .fa {
      font-size: 50px;
    }
  }
}

.carousel-container {
  height: 500px;
}

.testimonial-container {
  margin-bottom: 0;

  .carousel-inner {
    height: 265px;
  }
}

.content:not(.colored) .feature-card {
  box-shadow: 2px 3px 4px #8b8b8b;
  padding: 1em;
  border: 1px solid #cfcece;

  .title {
    color: $main-color;
    font-weight: 500;
  }
}

.content.colored .feature-card {
  box-shadow: 2px 3px 4px #9b282c;
  padding: 1em;
  border: 1px solid #b2262b;
  background-color: #b2262b;

  .title {
    font-weight: 500;
  }
}

.testimonial-text {
  height: 150px;
  padding: 0 1em;

  .start {
    align-self: flex-start;
  }

  .center {
    align-self: center;
  }

  .end {
    align-self: flex-end;
  }
}

@media (max-width: 800px) {

  .carousel-item .row {
    display: initial;
    align-items: center;
    flex-wrap: initial;

    .left {
      .testimonial-image {
        width: 80%;
        max-width: 250px;
        border-radius: 50%;
        margin-left: 0;
        margin-bottom: 1em;
      }

      .name {
        padding-left: 20px;
        font-size: 1.5em;
      }

      .title {
        padding-left: 20px;
        font-weight: 300;
      }
    }

    .right {
      padding: 0 2em;

    }
  }

  .testimonial-text {
    .start {
      text-align: center;
    }

    .center {
      align-self: center;
    }

    .end {
      text-align: center;
      padding-top: 20px;

      img {
        transform: rotate(180deg);
      }
    }
  }
}

.embed-container {
  border: 15px solid #2f2f2f;
  margin-top: 20px;
  border-radius: 10px;

  .embed {
    background-color: gray;

    iframe {
      margin-top: 10px;
    }
  }

  .red-circle {
    height: 10px;
    width: 10px;
    z-index: 100;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 5px;
    left: 10px;
    background-color: #fb5a52;
  }

  .yellow-circle {
    height: 10px;
    width: 10px;
    z-index: 100;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 5px;
    left: 15px;
    background-color: #ffba2b;
  }

  .green-circle {
    height: 10px;
    width: 10px;
    z-index: 100;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 5px;
    left: 20px;
    background-color: #28c941;
  }
}


@media (max-width: 768px) {
  .values {
    position: relative;
    bottom: 0;
    margin-bottom: 2em;

    .card {
      margin-bottom: 2em;

      .card-body {
        height: 100px;
      }
    }
  }


  .features .image img {
    max-height: 600px;
    max-width: 100%;
  }

  .image.order-md-1,
  .image {
    margin: 0;
    padding: 0 !important;
  }

  // Adding vertical space to each "why join" point on mobile.
  .why-join .icon-row {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}


@media (max-width: 801px) {
  .carousel-spacer {
    padding: 0 !important;
  }
}


@media (max-width: 801px) {
  .testimonial-container {
    .carousel-inner {
      height: 670px;
    }
  }
}

@media (max-width: 400px) {
  .testimonial-container {
    .carousel-inner {
      height: 730px;
    }
  }

  .carousel-item .row .right p {
    font-size: 1.4em;
  }
}


.testimonial-text {
  .end {
    img {
      transform: rotate(180deg);
    }
  }
}