@import './common.scss';



.jumbotron {
    background-color: $main-color;
    border-radius: 0;
    padding-top: 10em;
    padding-bottom: 10em;
    color: white;

    /* The image used */
    background-image: url("../assets/main-jumbo.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.values .card .card-title,
.values .card p {
    text-align: center;
}



.values {
    position: relative;
    bottom: 7em;
    margin-bottom: -2em;
}

.values .card {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    .card-body {
        height: 125px;
    }
}

@media (max-width: 768px) {
    .values {
        position: relative;
        bottom: 0;
        margin-bottom: 2em;

        .card {
            margin-bottom: 2em;

            .card-body {
                height: 100px;
            }
        }
    }
}


.center-content {
    .title {
        text-align: center;
    }

    text-align: justify;
}

.icon {
    text-align: center;
    margin-top: 2.5em;

    i {
        color: $main-color;
        font-size: 2em;
    }

    p {
        margin-top: 1em;
    }
}

.list {
    display: flex;

    i {
        padding: 0 1em;
        position: relative;
        top: 5px;
    }
}

.top-content {
    padding-bottom: 5em;
}

.content {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: justify
}

.content.colored {
    background-color: $main-color;
    color: white;

    .title {
        color: white;
    }

    .list i {
        color: white;
    }
}

.candidates img {
    max-width: 120px;
    width: 100%;
    border-radius: 50%;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.5);
}

.candidates .image-container {
    text-align: center;
}

.candidates {
    padding-bottom: 4em;
}